@charset "UTF-8"; 
/* CSS Document */ 
/* The body tag style applies to all elements on the page */ 
*{ 
padding:0px; 
margin:0px; 
list-style: none;
text-decoration: none;;
} 

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #29485E;
}

.inner_header{
    width: 1000px;
    height: 100px;
    display: block;
    margin: 0 auto;
    background-color: #7D98AB;
    border-radius: 80px;
}

.logo_container{
    height:100%;
    display: table;
    float: left;
}


.logo_container h1{
    font-weight: 800;
    color: #1C2226;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
}

.navigation{
    float: right;
    height: 100%;

}

.navigation a{
    height:100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: rgb(20, 20, 20);
    font-family:'Montserrat';
    font-size: 16px;

}

.navigation a li:hover{
    background-color: rgb(224, 234, 244);
    opacity: 100%;
    border-radius: 100px;
}

.mainPage{
    height: 800px;
    display:block;
    background-color: #A2C5DE;
}

